html {
  font-size: 16px;
}

.header {
  border: 1px solid black;
  background: #777;
}
.header__h1_fontSize-rem {
  font-size: 1.9rem;
}

#menu {
  border: 1px solid black;
  background: #BBB;
  font-size: 1.5rem;
}
.menu__a {
  text-decoration: none;
  color: blue;
}
.menu__a:link {
  text-decoration: none;
  color: blue;
}
.menu__a:hover {
  color: purple;
}
#table__table_trFirst-bg-bca {
  background: #BCA;
}

.footer {
  background: #999;
  border: 1px solid black;
  min-height: 150px;
}
